.dashboard {
  padding: 10px;
  background-color: #171b27;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  margin: 0;
  color: #DBCA49;
}

.search-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;  /* Ensures the input inside search-box is also vertically centered */
}

.search-box input {
  padding: 8px;
  border: 1px solid #574e4e;
  border-radius: 4px;
  background-color: #515561;
  color: white;
}

.issue-container {
  flex: 1; /* Takes remaining height */
  overflow-y: auto; /* Allows scrolling */
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.issue-container .issue-row {
  flex: 0 0 12%; /* No grow, no shrink, base size */
  background-color: #131623;
  margin-bottom: 5px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

.issue-container .header-row {
  flex: 0 0 8%; /* Smaller height for the header row */
  font-weight: bold;
  background-color: #171b27;
  color: #ffffff;
  border-radius: 8px;
}

.issue-container::-webkit-scrollbar {
  width: 10px;
}

.issue-container::-webkit-scrollbar-track {
  background: #171b27;
}

.issue-container::-webkit-scrollbar-thumb {
  background-color: #2e3141;
  border-radius: 8px;
  border: 2px solid #171b27;
}

.issue-column {
  flex: 1; /* Equal width for each column */
  padding: 0 10px; /* Spacing for readability */
}

.issue-link {
  color: #ffffff;
  text-decoration: none;
}

.issue-link:hover {
  text-decoration: underline;
}