/* Base styles for the form */
.new-issue-form {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f3d2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.new-issue-form h2 {
  color: #333;
  text-align: center;
}

.new-issue-form label {
  display: block;
  margin-bottom: 5px;
  color: #171b27;
  font-size: 16px;
  font-weight: bold;
}

.new-issue-form input[type="text"],
.new-issue-form textarea,
.new-issue-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.new-issue-form textarea {
  height: 100px;
  resize: vertical; /* Allow vertical resizing */
}

.new-issue-form button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #dbca49;
  color: #171b27;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.new-issue-form button[type="button"] {
  background-color: #a7a280;
}

.new-issue-form button:hover {
  opacity: 0.8;
}

.new-issue-form select[multiple] {
  height: auto; /* Adjust height based on content */
  min-height: 100px; /* Minimum height */
}

.new-issue-form option {
  margin-bottom: 3px;
}

.assignees-list {
  display: flex;
  flex-direction: column;
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto; /* Adds scroll if content overflows */
  border: 1px solid #ccc; /* Same style as the select box */
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
}

.assignee-item {
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none; /* Prevents text selection on double click */
  color:black;
}

.assignee-item.selected {
  background-color: #a7a280;
  color: white;
}
