
.project-detail {
  color: #fff;
  background-color: #171b27;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 10px;
}

.project-title {
  font-size: 36px;
  color:  #DBCA49;
  margin: 0;
}

.header-buttons button {
  margin-left: 10px;
}

.project-info {
  margin-top: 10px;
  background-color: #171b27; /* Optional: Sets a background color for the section */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin-bottom: 20px; /* Space between sections */
}

.project-section h3 {
  color: #DBCA49; /* Gold color for headers, adjust as needed */
  margin-bottom: 5px; /* Less space below headers */
  background-color: transparent;
}

.project-section p {
  margin-top: 0; /* Aligns text closer to the header */
  color: #844d4d; /* White text for readability */
  line-height: 1.6; /* Improves line spacing */
}

.project-section {
  background-color: #262a37;
}


.issue-controls {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.issue-list {
  list-style: none;
  padding: 0;
}

.issue-item {
  background: #131623;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue-item h4 {
  margin-top: 0;
}


.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-button-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}