/* SignUp.css */

.signup-body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff)
}

.signup-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.signup-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-input-group {
  margin-bottom: 15px;
}

.signup-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.signup-input-group input[type="text"],
.signup-input-group input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0056b3;
}

.back-to-login-button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px; /* Adjust margin as needed */
  transition: background-color 0.3s, color 0.3s;
}

.back-to-login-button:hover {
  background-color: #333333;
  color: #ffffff;
}

.login-form, .signup-form {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}