/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply Segoe UI font to the entire app */
body {
  font-family: 'Montserrat', sans-serif;
}

.monsteratt-font {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Be Vietnam', sans-serif;
}

/* App container */
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* Content wrapper */
.content-wrapper {
  flex: 1; /* Let the content-wrapper take remaining space */
  overflow-y: auto;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  background-color: #3D405B;
  color: #fff;
  transition: margin-left 0.5s ease; 
}

.content-wrapper.shifted {
  margin-left: 250px; /* Shift right when sidebar is visible */
  width: calc(100% - 250px)
}

/* Sidebar wrapper */
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  background-color: #000000;
  overflow: hidden;
  color: #fff;
  z-index: 5;
  transition: all 0.5s ease; /* Smooth transition for hiding/showing */
}

.sidebar-wrapper.hidden {
  transform: translateX(-100%); /* Hide by moving left */
  position: absolute; /* Takes it out of normal flow, preventing it from taking up space */
}

/* Navbar styles */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #3D405B;
  color: #fff;
  z-index: 10; /* Ensure navbar is above sidebar */
}


.navigation-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation-links ul li a {
  text-decoration: none;
  color: #fff;
}

.notification {
  display: flex;
  align-items: center;
}

.notification-btn, .sidebar-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  padding: 0;
  position: relative;
}

.notification-count {
  position: absolute;
  top: -10px;  /* Adjust these values based on your specific layout */
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 35px;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}

.notification-btn img, .sidebar-toggle-btn img {
  width: 35px; /* Adjust the width and height as needed */
  height: 37px;
  margin-right: 30px;
}

.sidebar-toggle-btn img {
  width: 35px; /* Adjust the width and height as needed */
  height: 37px;
  margin-right: 10px;
}

.notification-btn:hover {
  color: yellow; /* Change color on hover */
}

.notification-popup {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: rgb(8, 13, 3); 
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.notification-panel {
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
  padding: 10px;
}

/* Additional styles for better appearance */
.notification-panel div {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.notification-panel div:last-child {
  border-bottom: none;
}

.notification-link {
  text-decoration: none;
  color: black;
}

.notification-link:hover {
  background-color: #f0f0f0;
}

.notification-link.read {
  background-color: #3D405B; /* Subdued background for read notifications */
  color: #777; /* Dim text color for read notifications */
}

.notification-link.unread {
  background-color: #9e1414; /* Bright background for unread notifications */
  color: #fff; /* White text for better readability on the bright background */
}

/* Navbar link styles */
.navbar a {
  color: #fff;
  text-decoration: none;
}

/* Logo styles */
.logo img {
  width: 180px;
  height: auto;
  padding-left: 20px;
}

/* Navigation links styles */
.navigation-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation-links a {
  text-decoration: none;
  color: #fff;
}

/* Search bar and user info styles */
.search-user-info {
  display: flex;
  align-items: center;
}

.search-user-info input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* Input border color */
}

.user-info {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  display: inline-block;
}

.user-info-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 1010;
}

.user-info-btn:hover {
  background-color: #1e1e22;
  border-radius: 8px;
}

.user-info-btn img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

/* Styles for the dropdown content */
.dropdown-content {
  position: absolute;
  bottom: calc(100% + 5px); /* Show the dropdown below the button */
  left: 0; /* Position it to the right of the button */
  background-color: #8f8fa3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown-content button {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
}

.dropdown-content button:hover {
  background-color: #9d8f8f;
  border-radius: 4px;
}

.email-form {
  position: absolute;
  left: 100%; /* Positions the form to the right of the button */
  white-space: nowrap; /* Prevents wrapping of elements inside the form */
  padding: 10px;
  z-index: 1000; /* Ensure the form is above other content */
  top: -5em;
}

/* Sidebar styles */
.sidebar {
  padding: 18px; /* Add padding to the sidebar */
}

.sidebar.hidden {
  display: none;
}


.sidebar-content-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content-list li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
}

.sidebar-content-list li a:hover {
  background-color: #212121;
  border-radius: 8px;
}

.sidebar-content-list li.selected a {
  background-color: #212121;
  border-radius: 8px;
}

/* Main Content */
.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #3D405B;
  height: calc(100vh - 70px);
  padding: 15px;
  color: #fff;
  width: 100%;
}

/* Styles the scrollbar track */
.main-content::-webkit-scrollbar {
  width: 8px;  /* or the width you prefer */
  height: 8px; /* needed for horizontal scroll */
}

/* Styles the scrollbar handle */
.main-content::-webkit-scrollbar-thumb {
  background-color: #2c2c2e; /* scrollbar color */
  border-radius: 4px;        /* optional, for rounded corners */
}

/* Optional: Styles the scrollbar track */
.main-content::-webkit-scrollbar-track {
  background: #3D405B; /* color of the track, could be same as app background */
}

/* Dashboard Styles */
.dashboard {
  padding: 15px;
}

/* Table Styles */
table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #3D405B;
}

.row-link {
  text-decoration: none;
  color: inherit;
  display: block;
}


/* Footer Styles */
.footer {
  background-color: #3D405B;
  color: #fff;
  /* Text color */
  padding: 15px;
  text-align: left;
  position: relative;
  height: 70px;
}

/* Center the content within the footer */
.footer-content {
  margin: 0 auto;
  /* Center the content horizontally */
  width: fit-content;
  /* Adjust the width to fit the content */
}

/******HOVERING***********/
/* NavigationBar hover effect */
.navbar a:hover {
  color: #ff9900;
  /* Change color on hover */
}

/* Table hover effect */
.table tr:hover {
  background-color: #4d4c4c;
  /* Darker row hover background color */
}

.status-button:hover {
  filter: brightness(75%);
  /* Reduce brightness on hover */
  transition: filter 0.3s ease;
  /* Add transition effect */
}

/********************Status************/
/* Button styles */
.status-button {
  padding: 8px 15px;
  border-radius: 4px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Status-specific button colors */
.active {
  background-color: #28a745;
  /* Green */
  color: white;
}

.inactive {
  background-color: #6c757d;
  /* Gray */
  color: white;
}

.onschedule {
  background-color: #17a2b8;
  /* Aqua blue */
  color: white;
}

.behindschedule {
  background-color: #dc3545;
  /* Red */
  color: white;
}

.incompleted {
  background-color: #ffc107;
  /* Yellow */
  color: black;
}

.completed {
  background-color: #198754;
  /* Dark green */
  color: white;
}

.overdue {
  background-color: #6c757d;
  /* Gray */
  color: white;
}

/*****************Project Detail*******************/
.project-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.project-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.project-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.project-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-section:hover {
  filter: brightness(75%);
  transition: filter 0.3s ease;
}

.project-section h3 {
  margin-top: 0;
  color: #444;
}

.project-section p {
  margin: 10px 0;
  color: #666;
}

.project-section ul {
  list-style: none;
  padding: 0;
}

.project-section li {
  margin-bottom: 5px;
  color: #666;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-button-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*****************NewIssueForm.css*********************/

/* Form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form headings */
h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Form buttons */
button[type='submit'],
button[type='button'] {
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
}

button[type='submit']:hover,
button[type='button']:hover {
  opacity: 0.8;
}